qMath.xcodeproj/russ.mode1v3
qMath.xcodeproj/russ.pbxuser
qMath.xcodeproj/project.xcworkspace/xcuserdata/rusl.xcuserdatad/UserInterfaceState.xcuserstate
qMath.xcodeproj/project.xcworkspace/xcuserdata/russ.xcuserdatad/UserInterfaceState.xcuserstate
